.App-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px 150px;
  
  position: static;
  max-width: 1583px;
  height: 1342px;
  left: 0px;
  top: 0px;
  background: linear-gradient(230.95deg, #CB1AE8 -0.37%, #37BDA6 100%);
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
  margin-bottom: 51px;
}
.content{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 199px;
  position: static;
  max-width: 1583px;
  height: 852px;
  left: 0px;
  top: 1393px;
  background: black;
  color: white;
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  margin: 51px 0px;
}
